/*!
 * Name : Magia
 * Author : Nanranikano
*/

@import url('sns.css');
@import url('wmpg.css');
@import url('../lib/fab/fa-brands.css');

*{margin:0;padding:0}
*,*::before,*::after{-webkit-box-sizing:inherit;box-sizing:inherit}
*:focus{outline:none}
html{-webkit-box-sizing:border-box;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-ms-overflow-style:scrollbar;-webkit-tap-highlight-color:transparent;overflow-x:hidden;box-sizing:border-box;background-color:var(--bg)}
body{text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;display:flex;flex-direction:column;overflow:hidden;min-width:0;min-height:100vh;margin:0 auto;padding:0!important;background-color:transparent;cursor:default;font-size:var(--font-size);font-family:var(--font)!important;color:var(--txt);text-transform:none}
body:has(.navbar-fix){padding-top:96px!important}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;appearance:none;margin:0}
input[type=number]{-moz-appearance:textfield;appearance:textfield}
article,aside,figcaption,figure,footer,header,hgroup,main,nav,section{display:block}
article,aside,footer,header,nav,section{display:block}
figcaption,figure,main{display:block}
hr{-webkit-box-sizing:content-box;overflow:visible;box-sizing:content-box;width:100%;height:0;margin:24px 0;border:0;border-top:1px solid var(--g3x)}
hr.dash{border-style:dashed;border-color:var(--g3x)}
pre{font-size:var(--font-size);font-family:var(--font-2)}
abbr,abbr[title]{margin-left:4px;color:var(--danger);text-decoration:none}
b,strong{font-weight:var(--font-semibold)}
code,kbd,samp{padding:0 6px 2px;background-color:var(--g1x);font-size:var(--font-size);font-family:var(--font-2);color:var(--danger)}
dfn{font-style:italic}
mark{background-color:#ff0;color:#000}
small{font-size:80%}
sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline}
sub{bottom:-.25em}
sup{top:-.5em}
audio,video,canvas{display:block}
audio:not([controls]){display:none;height:0}
img{max-width:100%;border-style:none;vertical-align:middle}
svg:not(:root){overflow:hidden}
button,input,optgroup,select,textarea{outline:none!important;margin:0;font-size:14px;font-family:var(--font)}
button{cursor:pointer}
button,input{overflow:visible}
label{font-weight:var(--font-regular)}
button,select{-moz-appearance:none;-webkit-appearance:none;appearance:none;text-transform:none}
button,html [type='button'],[type='reset'],[type='submit']{-webkit-appearance:button;appearance:button}
button::-moz-focus-inner,[type='button']::-moz-focus-inner,[type='reset']::-moz-focus-inner,[type='submit']::-moz-focus-inner{padding:0;border-style:none}
button:-moz-focusring,[type='button']:-moz-focusring,[type='reset']:-moz-focusring,[type='submit']:-moz-focusring{outline:none!important}
fieldset{padding:.35em .75em .625em}
legend{display:table;box-sizing:border-box;max-width:100%;padding:0;color:inherit;white-space:normal}
progress{display:inline-block;vertical-align:baseline}
textarea{overflow:auto}
[type='checkbox'],[type='radio']{box-sizing:border-box;padding:0}
input[type='number']{-moz-appearance:textfield;appearance:textfield}
[type='number']::-webkit-inner-spin-button,[type='number']::-webkit-outer-spin-button{-webkit-appearance:none;appearance:none;height:auto;margin:0}
[type='search']{outline-offset:-2px;-webkit-appearance:textfield;appearance:textfield}
[type='search']::-webkit-search-cancel-button,[type='search']::-webkit-search-decoration{-webkit-appearance:none;appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;appearance:button;font:inherit}
details,menu{display:block}
summary{display:list-item}
template,[hidden]{display:none}
blockquote{position:relative;margin:36px 0;padding:24px 32px;background-color:var(--dark1);border:1px solid var(--g3x);border-radius:12px;font-size:28px;font-family:var(--font-3);line-height:1.4;color:var(--dark)}
blockquote::after{content:' ';display:block;position:absolute;top:50%;left:-3px;transform:translateY(-50%);width:5px;height:24px;background-color:var(--primary);border-radius:3px}
blockquote::before{font-variation-settings:'FILL'1;content:'\e244';position:absolute;z-index:-1;bottom:12px;right:-12px;opacity:.05;font-size:7em;font-family:var(--font-msr);line-height:.5}
blockquote footer{position:relative;padding-left:24px}
blockquote footer::before{content:'~';position:absolute;top:50%;left:0;transform:translateY(-50%);font-weight:var(--font-bold)}
blockquote cite{font-weight:var(--font-semibold)}
button{display:inline-block;background-color:transparent;border:0}
table{border-spacing:0;border-collapse:collapse;background-color:transparent}
td,th{padding:0}
table col[class*='col-']{display:table-column;position:static;float:none}
table td[class*='col-'],table th[class*='col-']{display:table-cell;position:static;float:none}
caption{padding:8px 0;color:var(--g5x);text-align:left}
dt{font-weight:var(--font-semibold)}
dd{margin-left:0}
p{display:block;margin:0;padding:0}
ol,ul,dl,ol ol,ul ul,ol ul,ul ol{margin:0;padding:0;list-style:none}
h1,h2,h3,h4,h5,h6{position:relative;margin:0;padding:0;font-family:inherit;font-weight:var(--font-semibold);line-height:1.4}
h1{font-size:32px}
h2{font-size:28px}
h3{font-size:24px}
h4{font-size:20px}
h5{font-size:18px}
h6{font-size:16px;line-height:1.6}
a,a:focus,a:hover{transition:.15s ease;color:var(--txt);text-decoration:none}
a:hover{color:var(--primary)}
a:not([href]):not([tabindex]){transition:.15s ease;cursor:pointer;color:inherit}
a:not([href]):not([tabindex]):focus,a:not([href]):not([tabindex]):hover{transition:.15s ease;color:inherit}
a:not([href]):not([tabindex]):focus{outline:0;transition:.15s ease}
a:not([href]):not([tabindex]):hover{color:var(--primary)}
form,img,*:not([disabled]):not([readonly])::placeholder,button,textarea,select,label,br,thead,tfoot,.material-symbol,.btn,.help-block,.navbar{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
/* MATERIAL SYMBOLS */
.material-symbol{direction:ltr;font-feature-settings:'liga';-webkit-font-smoothing:antialiased;display:inline-block;font-size:24px;font-family:var(--font-msr);font-style:normal;font-weight:var(--font-regular)!important;line-height:1!important;text-decoration:none!important;text-transform:none;letter-spacing:normal;word-wrap:normal;white-space:nowrap}
.material-symbol.fill{font-variation-settings:'FILL'1!important}
.material-symbol.new{position:relative}
.material-symbol.new::after{box-shadow:0 0 0 2px var(--bg);content:' ';display:block;position:absolute;top:0;right:0;width:8px;height:8px;background-color:var(--danger);border-radius:50%}
/* UTILITIES */
.fab{font-size:24px}
.event-none{pointer-events:none}
.grid{display:grid}
.grid-2{display:grid;grid-template-columns:repeat(2,1fr)}
.grid-3{display:grid;grid-template-columns:repeat(3,1fr)}
.grid-4{display:grid;grid-template-columns:repeat(4,1fr)}
.grid-5{display:grid;grid-template-columns:repeat(5,1fr)}
.grid-6{display:grid;grid-template-columns:repeat(6,1fr)}
.flex{display:flex;flex-wrap:wrap;min-width:0}
.flex>.form-group,.flex-v>.form-group{margin:0!important}
.flex-v{display:flex;flex-direction:column;flex-wrap:wrap;min-width:0}
.flex-v>hr{margin:0}
.flex-0{flex:unset!important}
.flex-1{flex:1!important}
.j-center{justify-content:center}
.j-left{justify-content:left}
.j-right{justify-content:right}
.j-fluid>*{flex:1!important;max-width:unset!important}
.v-middle>*{margin:auto 0}
.caret{display:flex;margin:auto 0;margin-right:-4px;margin-left:-4px;font-size:24px;font-family:var(--font-msr);line-height:1!important}
.caret::before{content:'\e313';margin-right:-4px;margin-left:-4px}
.container{position:relative;max-width:1000px;margin:0 auto}
.ovf-hd{overflow:hidden!important}
/* ALERT */
.alert{display:flex;flex-wrap:wrap;gap:24px;position:relative;padding:24px;padding-right:36px;background-color:transparent!important;border:1px solid var(--warning);border-radius:12px;line-height:1.6}
.alert>*:not(.material-symbol){flex:1;margin:auto 0}
.alert.icon::before{display:none!important}
.alert.icon .material-symbol{margin:auto 0}
.alert .formatting ul,.alert .formatting ol,.alert .formatting p{margin:16px 0}
.alert .formatting ul,.alert .formatting ol{padding-left:12px}
.alert:not(:first-child):not(:first-of-type){margin-top:24px}
.alert::after{content:' ';display:block;position:absolute;top:50%;left:-3px;transform:translateY(-50%);width:5px;height:24px;background-color:var(--warning);border-radius:8px}
.alert-info,.alert-info::after{background-color:var(--info);border-color:var(--info)}
.alert-danger,.alert-danger::after{background-color:var(--danger);border-color:var(--danger)}
.alert-success,.alert-success::after{background-color:var(--success);border-color:var(--success)}
.alert-primary,.alert-primary::after{background-color:var(--primary);border-color:var(--primary)}
.alert-default,.alert-default::after{background-color:var(--g4x);border-color:var(--g4x)}
.alert::before{font-variation-settings:'FILL'1;content:'\e002';display:flex;position:relative;width:24px;margin:auto 0;font-size:24px;font-family:var(--font-msr);line-height:1;color:var(--warning);text-align:center}
.alert-danger::before{content:'\e82a';color:var(--danger)}
.alert-info::before{content:'\e88e';color:var(--info)}
.alert-success::before{content:'\e19f';color:var(--success)}
.alert-primary::before{content:'\ef49';color:var(--primary)}
.alert-default::before{content:'\ef49';color:var(--txt)}
/* TABLE */
.table{overflow:unset;width:100%;max-width:100%;border:0;line-height:1.6}
.table .formatting{line-height:1.6}
.table th,.table td{position:relative;padding:12px 16px;border:1px solid var(--g3x);text-align:left;vertical-align:middle}
.table th:first-child,.table td:first-child{padding-left:0;border-left-width:0}
.table th:last-child,.table td:last-child{padding-right:0;border-right-width:0}
.table thead th,.table thead td{padding-top:16px;padding-bottom:16px}
.table thead tr:first-child th,.table thead tr:first-child td{border-top-width:0}
.table thead{border-bottom:2px solid var(--g3x)}
.table tbody tr:first-child td{border-top-width:0}
.table tbody tr:last-child td{border-bottom-width:0}
.table tfoot th,.table tfoot td{padding-top:16px;padding-bottom:16px}
.table tfoot tr:last-child th,.table tfoot tr:last-child td{border-bottom-width:0}
.table tfoot{border-top:2px solid var(--g3x)}
.table-responsive{overflow-x:auto}
.table-odd th,.table-odd td{padding-right:16px!important;padding-left:16px!important;border-width:0}
.table-odd thead,.table-odd tfoot{border-width:0}
.table-odd thead tr:first-child th,.table-odd thead tr:first-child td{padding-top:0}
.table-odd tfoot tr:last-child th,.table-odd tfoot tr:last-child td{padding-bottom:0}
.table-odd tbody tr:nth-child(odd) td{background-color:var(--odd)}
.table-odd tbody tr td:first-child{border-radius:8px 0 0 8px}
.table-odd tbody tr td:last-child{border-radius:0 8px 8px 0}
.table-odd:not(:has(tfoot)) tbody tr:last-child:nth-child(even) td{padding-bottom:0}
.table-odd:has(tfoot) tbody tr:last-child:nth-child(even) td{border-bottom-width:1px}
.table-wrap{overflow:hidden;border:1px solid var(--g3x);border-radius:8px}
.table-wrap.borderless{border-width:0}
.table-wrap.transparent thead,.table-wrap.transparent tfoot{background-color:transparent}
.table-wrap thead,.table-wrap tfoot{background-color:var(--g0x);border-width:0}
.table-wrap thead tr:first-child th,.table-wrap thead tr:first-child td{padding-top:16px}
.table-wrap tfoot tr:last-child th,.table-wrap tfoot tr:last-child td{padding-bottom:16px}
.table-wrap th,.table-wrap td{padding-right:16px!important;padding-left:16px!important}
/* BUTTON */
.btn{display:inline-flex;gap:12px;position:relative;overflow:hidden;min-width:0;height:48px;padding:0 16px;transition:.15s ease;line-height:1;color:var(--bg)!important;text-decoration:none!important}
.btn>*{display:block;position:relative;z-index:1;margin:auto 0}
.btn>img,.btn>svg{width:auto;height:24px}
.btn>span:not([class]){flex:1}
.btn b{display:block;position:relative;top:-2px;margin-bottom:6px;line-height:1.2}
.btn b:first-child:last-child{top:unset;margin-bottom:unset}
.btn small+b{top:unset;bottom:-2px;margin-top:6px;margin-bottom:unset}
.btn small{display:block;position:relative;font-size:12px;color:var(--g5x)}
.btn::before{content:' ';display:block;position:absolute;z-index:0;top:0;bottom:0;left:0;right:0;opacity:0;transition:.15s ease;background-color:var(--dark)}
.btn.btn:not(.btn-light):not(.btn-outline):not(.btn-img):not(.btn-tsp):hover::before{opacity:.085}
.btn-block{display:flex;width:100%}
.btn-block>*:first-child:last-child{flex:unset;margin:auto}
.btn-block>*[class]:last-child,.btn-block>img:last-child,.btn-block>svg:last-child{margin-left:auto}
.btn-at{height:unset!important}
.btn-24{gap:6px;height:24px;padding:0 8px;border-radius:6px!important;font-size:12px}
.btn-28{gap:6px;height:28px;padding:0 8px;border-radius:6px!important;font-size:12px}
.btn-24>span:not([class]),.btn-28>span:not([class]){padding-bottom:0!important}
.btn-36{gap:8px;height:36px;padding:0 12px;border-radius:8px!important;font-size:14px}
.btn-40{gap:8;height:40px;padding:0 14px}
.btn-56{gap:16px;height:56px;padding:0 20px}
.btn-64{gap:20px;height:64px;padding:0 24px}
.btn-pill{gap:calc(12px + 2px);padding:0 calc(16px + 4px);border-radius:60px!important}
.btn-pill.btn-24{gap:calc(6px + 2px);padding:0 calc(8px + 4px)}
.btn-pill.btn-36{gap:calc(8px + 2px);padding:0 calc(12px + 4px)}
.btn-pill.btn-40{gap:calc(8px + 2px);padding:0 calc(14px + 4px)}
.btn-pill.btn-56{gap:calc(16px + 2px);padding:0 calc(20px + 4px)}
.btn-pill.btn-64{gap:calc(20px + 2px);padding:0 calc(24px + 4px)}
.btn-sq,.btn-sq.btn-pill{width:48px;padding:0!important}
.btn-sq>*{margin:auto}
.btn-sq.btn-24{width:24px}
.btn-sq.btn-36{width:36px}
.btn-sq.btn-40{width:40px}
.btn-sq.btn-56{width:56px}
.btn-sq.btn-64{width:64px}
.btn-sort .caret{margin-top:-2px}
.btn-group{display:flex;gap:0}
.btn-group>*:first-child,.btn-group-outline>*:not(.btn-pill):first-child{border-top-right-radius:0;border-bottom-right-radius:0}
.btn-group>*:last-child,.btn-group-outline>*:not(.btn-pill):last-child{border-top-left-radius:0;border-bottom-left-radius:0}
.btn-group>*:not(:first-child):not(:last-child),.btn-group-outline>*:not(:first-child):not(:last-child){border-radius:0}
.btn-group>.btn-light:nth-child(n+2),.btn-group>.btn-outline:nth-child(n+2){margin-left:-1px}
.btn-group-outline{display:flex;gap:2px;padding:2px;background-color:transparent!important;border:2px solid var(--primary);border-radius:16px}
.btn-group-outline.pill{border-radius:100px}
.btn-img{gap:16px;position:relative;overflow:unset;height:unset;padding:0;border-radius:0;color:var(--txt)!important}
.btn-img>*{display:flex;flex-direction:column;flex-wrap:wrap}
.btn-img img{min-width:48px;max-width:160px;height:unset;max-height:48px}
.btn-img:hover{color:var(--primary)!important}
.btn-img.separated>span:not([class]){position:relative;padding-left:17px}
.btn-img.separated>span:not([class])::before{content:' ';display:block;position:absolute;top:50%;left:0;transform:translateY(-50%);height:24px;border-left:1px solid var(--g3x)}
.btn-img.new::after{box-shadow:0 0 0 2px var(--bg);content:' ';display:block;position:absolute;z-index:1;top:0;left:0;width:8px;height:8px;background-color:var(--danger);border-radius:50%}
/* BUTTON COLORS */
.btn-default{background-color:var(--default);color:var(--txt)!important}
.btn-primary{background-color:var(--primary)}
.btn-success,.dropdown-success [dropdown=content] nav .btn::after{background-color:var(--success)}
.btn-info,.dropdown-info [dropdown=content] nav .btn::after{background-color:var(--info)}
.btn-warning,.dropdown-warning [dropdown=content] nav .btn::after{background-color:var(--warning)}
.btn-danger,.dropdown-danger [dropdown=content] nav .btn::after{background-color:var(--danger)}
.btn-pink,.dropdown-pink [dropdown=content] nav .btn::after{background-color:var(--pink)}
.btn-purple,.dropdown-purple [dropdown=content] nav .btn::after{background-color:var(--purple)}
.btn-brown,.dropdown-brown [dropdown=content] nav .btn::after{background-color:var(--brown)}
.btn-white{background-color:var(--bg);color:var(--txt)!important}
.btn-white:hover{color:var(--primary)!important}
.btn-light{border:1px solid}
.btn-light.btn-primary,.btn-outline.btn-primary,.img-ava-outline.img-primary{background-color:var(--primary4);border-color:var(--primary);color:var(--primary-dark)!important}
.btn-light.btn-success,.btn-outline.btn-success,.btn-group-outline.btn-group-success,.img-ava-outline.img-success,.dropdown-success [dropdown=content]{background-color:var(--success4);border-color:var(--success);color:var(--success-dark)!important}
.btn-light.btn-info,.btn-outline.btn-info,.btn-group-outline.btn-group-info,.img-ava-outline.img-info,.dropdown-info [dropdown=content]{background-color:var(--info4);border-color:var(--info);color:var(--info-dark)!important}
.btn-light.btn-warning,.btn-outline.btn-warning,.btn-group-outline.btn-group-warning,.img-ava-outline.img-warning,.dropdown-warning [dropdown=content]{background-color:var(--warning4);border-color:var(--warning);color:var(--warning-dark)!important}
.btn-light.btn-danger,.btn-outline.btn-danger,.btn-group-outline.btn-group-danger,.img-ava-outline.img-danger,.dropdown-danger [dropdown=content]{background-color:var(--danger4);border-color:var(--danger);color:var(--danger-dark)!important}
.btn-light.btn-pink,.btn-outline.btn-pink,.btn-group-outline.btn-group-pink,.img-ava-outline.img-pink,.dropdown-pink [dropdown=content]{background-color:var(--pink4);border-color:var(--pink);color:var(--pink-dark)!important}
.btn-light.btn-purple,.btn-outline.btn-purple,.btn-group-outline.btn-group-purple,.img-ava-outline.img-purple,.dropdown-purple [dropdown=content]{background-color:var(--purple4);border-color:var(--purple);color:var(--purple-dark)!important}
.btn-light.btn-brown,.btn-outline.btn-brown,.btn-group-outline.btn-group-brown,.img-ava-outline.img-brown,.dropdown-brown [dropdown=content]{background-color:var(--brown4);border-color:var(--brown);color:var(--brown-dark)!important}
.btn-light.btn-white{background-color:rgba(255 255 255 / .2);color:var(--bg)!important}
.btn-light:not(:hover){border-color:transparent}
.btn-outline{background-color:transparent!important;border:1px solid}
.btn-outline.btn-default{border-color:var(--g3x);color:var(--txt)!important}
.btn-outline.btn-default:hover{background-color:var(--primary3);border-color:var(--primary);color:var(--primary)!important}
.btn-outline.btn-dark{color:var(--dark)!important}
.btn-outline.btn-dark:hover{background-color:var(--dark3)!important}
.btn-outline.btn-primary:hover{background-color:var(--primary3)!important}
.btn-outline.btn-success:hover{background-color:var(--success3)!important}
.btn-outline.btn-info:hover{background-color:var(--info3)!important}
.btn-outline.btn-warning:hover{background-color:var(--warning3)!important}
.btn-outline.btn-danger:hover{background-color:var(--danger3)!important}
.btn-outline.btn-pink:hover{background-color:var(--pink3)!important}
.btn-outline.btn-purple:hover{background-color:var(--purple3)!important}
.btn-outline.btn-brown:hover{background-color:var(--brown3)!important}
.btn-outline.btn-white{color:var(--bg)!important}
.btn-outline.btn-white:hover{background-color:rgba(255 255 255 / .1)!important}
.btn-tsp{background-color:transparent!important;color:var(--txt)!important}
.btn-tsp:hover{color:var(--primary)!important}
.btn-tsp.btn-success:hover{color:var(--success)!important}
.btn-tsp.btn-info:hover{color:var(--info)!important}
.btn-tsp.btn-warning:hover{color:var(--warning)!important}
.btn-tsp.btn-danger:hover{color:var(--danger)!important}
.btn-tsp.btn-pink:hover{color:var(--pink)!important}
.btn-tsp.btn-purple:hover{color:var(--purple)!important}
.btn-tsp.btn-brown:hover{color:var(--brown)!important}
/* IMAGES */
.img-wrap img,img.img-wrap{object-fit:cover;justify-content:center;width:100%;height:100%}
.img-cover img,img.img-cover{box-shadow:var(--img-shadow);overflow:hidden;border-radius:16px}
.img-sh img,img.img-sh{box-shadow:var(--img-shadow)}
.img-thumb{box-shadow:var(--img-shadow);display:block;position:relative;overflow:hidden;border-radius:16px}
.img-thumb::before{content:' ';display:block;position:absolute;z-index:1;top:0;bottom:0;left:0;right:0;opacity:0;transition:.15s ease;background-color:var(--backdrop)}
.img-thumb:hover::before{opacity:.5}
.img-ava{box-shadow:unset!important}
.img-ava img,img.img-ava{box-shadow:0 0 0 0 transparent;transition:.15s ease;border-radius:8px}
.img-ava:hover img,img.img-ava:hover{box-shadow:0 0 0 3px var(--primary)}
.img-ava.img-success:hover,.img-ava.img-success:hover img,img.img-ava.img-success:hover{box-shadow:0 0 0 3px var(--success);color:var(--success)!important}
.img-ava.img-info:hover,.img-ava.img-info:hover img,img.img-ava.img-info:hover{box-shadow:0 0 0 3px var(--info);color:var(--info)!important}
.img-ava.img-warning:hover,.img-ava.img-warning:hover img,img.img-ava.img-warning:hover{box-shadow:0 0 0 3px var(--warning);color:var(--warning)!important}
.img-ava.img-danger:hover,.img-ava.img-danger:hover img,img.img-ava.img-danger:hover{box-shadow:0 0 0 3px var(--danger);color:var(--danger)!important}
.img-ava.img-pink:hover,.img-ava.img-pink:hover img,img.img-ava.img-pink:hover{box-shadow:0 0 0 3px var(--pink);color:var(--pink)!important}
.img-ava.img-purple:hover,.img-ava.img-purple:hover img,img.img-ava.img-purple:hover{box-shadow:0 0 0 3px var(--purple);color:var(--purple)!important}
.img-ava.img-brown:hover,.img-ava.img-brown:hover img,img.img-ava.img-brown:hover{box-shadow:0 0 0 3px var(--brown);color:var(--brown)!important}
.img-ava-outline{position:relative;background-color:transparent!important}
.img-ava-outline::after{content:' ';display:block;position:absolute;top:-4px;bottom:-4px;left:-4px;right:-4px;border:2px solid;border-radius:50%}
.img-r0 img,.r0{border-radius:0!important}
.img-r8 img,.r8{border-radius:8px!important}
.img-r12 img,.r12{border-radius:12px!important}
.img-r16 img,.r16{border-radius:16px!important}
.img-r20 img,.r20{border-radius:20px!important}
.img-r24 img,.r24{border-radius:24px!important}
.img-r50 img,.r50{border-radius:50%!important}
.img-24 img,img.img-24{width:24px!important;min-width:unset!important;height:24px!important}
.img-36 img,img.img-36{width:36px!important;min-width:unset!important;height:36px!important}
/* FORM */
.form-group{display:flex;flex-direction:column;gap:8px;position:relative}
.form-group:nth-of-type(n+2){margin-top:16px}
.form-group label{transition:.15s ease;font-size:14px;font-weight:var(--font-semibold)}
.form-group label+.help-block{margin-top:-6px;padding-bottom:1px}
.form-group label:focus{color:var(--txt)}
.form-group:focus-within label{color:var(--primary-darker)}
.form-hz .form-group{flex-direction:row}
.form-hz .form-group>*{margin:auto 0}
.form-hz .form-group label:not([class*='form-opt-']){padding-right:calc(24px - 8px);text-align:right}
.form-control{height:48px;padding:0 16px;transition:.15s ease;background-color:transparent;border:1px solid var(--g3x);border-radius:8px}
.form-control:hover,.form-control-textarea:hover{border-color:var(--g4x)}
.form-control:focus,.form-control-textarea:focus-within{box-shadow:0 0 0 4px var(--primary4);border-color:var(--primary)}
.form-control:disabled,.form-control.placeholder{background-color:var(--g0x)!important;font-size:14px}
.form-control.placeholder{display:flex}
.form-control::placeholder,.form-control.placeholder span{margin:auto 0;color:var(--g4x)}
.form-control:read-only:not(select){pointer-events:none}
.form-control-select,.form-control-icon{position:relative}
.form-control-select select{width:100%;cursor:pointer}
.form-control-select::before{content:'\e313';position:absolute;z-index:-1;top:50%;right:12px;transform:translateY(-50%);font-size:24px;font-family:var(--font-msr)}
.form-control-select:focus-within::before{color:var(--primary)}
.form-control-icon:focus-within .material-symbol{color:var(--primary)}
.form-control-icon .form-control{width:100%;padding-right:calc(16px + 24px + 16px)}
.form-control-icon .material-symbol{position:absolute;top:50%;right:16px;transform:translateY(-50%);transition:.15s ease}
.form-control-icon .material-symbol:first-child{left:16px;right:unset}
.form-control-icon .material-symbol:first-child+.form-control{padding-right:unset;padding-left:calc(16px + 24px + 16px)}
.form-control-textarea{position:relative;overflow:hidden;transition:.15s ease;border:1px solid var(--g3x);border-radius:8px}
.form-control-textarea .form-control{border:0}
textarea.form-control{resize:vertical;display:block;width:100%;height:unset;min-height:48px;padding-top:12px;padding-bottom:12px}
textarea.form-control.auto-height{resize:none;overflow:hidden}
.help-block{font-size:12px;color:var(--g4x)}
.input-group{display:flex;flex-wrap:wrap;font-size:14px}
.input-group.pill .form-control,.input-group.pill .input-group-addon{border-radius:48px}
.input-group>*{position:relative;margin:auto 0!important}
.input-group>*:nth-child(n+2){margin-left:-1px!important}
.input-group>*:not(:last-child):not(:first-child),.input-group>*:not(:last-child):not(:first-child) *{border-radius:0}
.input-group>*:first-child:not(:last-child),.input-group>*:first-child:not(:last-child) *{border-top-right-radius:0;border-bottom-right-radius:0}
.input-group>*:last-child:not(:first-child),.input-group>*:last-child:not(:first-child) *{border-top-left-radius:0;border-bottom-left-radius:0}
.input-group>*:not(.input-group-addon):hover{z-index:1}
.input-group>*:not(.input-group-addon):focus{z-index:2}
.input-group>.btn:not(.btn-outline){margin-left:0!important}
.input-group-addon{display:flex;height:48px;padding:0 16px;border:1px solid var(--g3x);border-radius:8px}
.input-group-addon span,.input-group-addon a:not([class]){margin:auto 0}
.input-group:focus-within .input-group-addon .material-symbol{color:var(--primary)}
.form.underline .form-control,.form.underline .form-control-textarea{border-width:0;border-bottom-width:1px;border-radius:0}
.form.underline .form-control:focus,.form.underline .form-control-textarea:focus-within{box-shadow:0 4px 0 0 var(--primary4)}
.form.underline .input-group-addon{padding:0;border-width:0;border-bottom-width:1px;border-radius:0}
[class*='form-opt-']{display:flex;font-size:14px}
[class*='form-opt-']{display:flex;gap:12px;position:relative;min-height:24px;padding:0!important;transition:.1s ease;cursor:pointer;font-weight:var(--font-regular)}
[class*='form-opt-']:hover{color:var(--primary)}
[class*='form-opt-'] input{position:absolute;z-index:-1;opacity:0}
[class*='form-opt-'] span:not([class]){margin-top:1px;margin-bottom:auto;font-weight:var(--font-regular)}
[class*='form-opt-'] .mark{content:' ';display:block;position:relative;width:24px;height:24px;transition:.1s ease;border:1px solid var(--g3x);border-radius:8px}
[class*='form-opt-'] .mark::before{font-variation-settings:'wght'700;content:'\f88b';position:absolute;top:5px;left:-1px;opacity:0;width:24px;height:24px;transition:.1s ease;font-size:25px;font-family:var(--font-msr);line-height:1;color:var(--primary)}
[class*='form-opt-'] .mark::after{box-shadow:0 0 0 2px inset var(--primary);content:' ';display:block;position:absolute;top:-1px;left:-1px;opacity:0;width:24px;height:24px;transition:.1s ease;border-radius:8px}
[class*='form-opt-']:hover .mark{border-color:var(--g4x)}
[class*='form-opt-']:has(input:disabled){pointer-events:none;color:var(--g4x);text-decoration:line-through}
[class*='form-opt-']:has(input:disabled) .mark{background-color:var(--g1x)}
[class*='form-opt-'] input:checked+.mark{background-color:var(--primary3);border-color:var(--primary)}
[class*='form-opt-'] input:checked+.mark::after{opacity:1}
[class*='form-opt-'] input:checked+.mark::before{top:-1px;opacity:1}
.form-opt-radio .mark,.form-opt-radio .mark::after{border-radius:50%}
.form-opt-radio .mark::before{font-variation-settings:'FILL'1;content:'\e061';font-size:14px;line-height:24px;text-align:center}
.form-opt-toggle .mark,.form-opt-toggle .mark::after{width:40px;border-radius:24px}
.form-opt-toggle .mark::before{content:' ';top:2px;left:2px;opacity:1;width:18px;height:18px;background-color:var(--g3x);border-radius:24px;font-family:unset}
.form-opt-toggle:hover .mark::before{background-color:var(--g3x)}
.form-opt-toggle input:checked+.mark::before{top:3px;left:19px;width:16px;height:16px;background-color:var(--primary)}
.form-opt-toggle.reverse .mark{order:2;margin-left:auto}
.floating-label .form-control{position:relative;z-index:1;width:100%}
.floating-label label{display:flex;position:absolute;top:0;left:calc(16px + 1px - 4px);height:48px;padding:0 4px;transition:.15s var(--cubic);font-weight:var(--font-regular)!important;color:var(--g4x)}
.floating-label label span{margin:auto 0}
.floating-label label.clone{z-index:1;top:-9px;left:calc(16px * 2);visibility:hidden;opacity:0;height:unset;background-color:var(--bg);font-size:12px}
.floating-label .form-control::placeholder{color:transparent}
.floating-label:focus-within label:not([class]),.floating-label .form-control:not(:placeholder-shown)+label:not([class]){left:calc(16px * 2);visibility:hidden;opacity:0}
.floating-label:focus-within label.clone,.floating-label .form-control:not(:placeholder-shown)+label+label.clone{left:calc(16px + 1px - 4px);visibility:visible;opacity:1}
/* WRAPPER */
.wrapper{display:grid;gap:24px;grid-template-columns:repeat(auto-fit,minmax(0,1fr));min-height:240px}
.wrapper-left,.wrapper-right{width:100%;max-width:unset}
.wrapper-left.wide,.wrapper-right.wide{grid-column:span 2}
.wrapper-left.wide{padding-right:24px;border-right:1px solid var(--g3x)}
.wrapper-right.wide{padding-left:24px;border-left:1px solid var(--g3x)}
.wrapper.borderless .wrapper-left,.wrapper.borderless .wrapper-right{padding:0;border-width:0}
/* CARD */
.card{padding:16px;background-color:var(--bg);border:1px solid var(--g3x)}
.card:nth-of-type(n+2){border-top-width:0}
.card:first-child{border-top-left-radius:12px;border-top-right-radius:12px}
.card:last-child{border-bottom-right-radius:12px;border-bottom-left-radius:12px}
.card:has(.card-header){padding:0;border-width:1px;border-radius:12px}
.card .card-header{border-bottom:1px solid var(--g3x)}
.card .card-footer{border-top:1px solid var(--g3x)}
.cardset.divider .card{border-width:0}
.cardset.divider .card:first-child{padding-top:0}
.cardset.divider .card:last-child{padding-bottom:0}
.cardset.divider .card:nth-of-type(n+2){border-top-width:1px}
.cardset.icon .card{display:flex;gap:16px}
.cardset.icon .card>*{margin:auto 0}
.cardset.icon .card>span{width:24px;text-align:center}
.cardset.icon .card>div{flex:1}
.cardset.separated:not([class*=grid-]){display:grid;grid-template-columns:repeat(1,1fr)}
.cardset.separated .card{transition:.15s ease;border-width:1px;border-radius:12px}
.cardset.hover .card:hover{box-shadow:0 0 0 4px var(--primary4);border-color:var(--primary)}
.cardset.hover:not(.separated):not([class*=grid-]) .card:hover{box-shadow:unset;background-color:var(--g0x);border-color:var(--g3x)}
.cardset[class*=grid-] .card{margin:0!important}
.cardset.thumb .card{overflow:hidden;padding:0}
.cardset.sharp .card{border-radius:0!important}
/* NAVBAR */
.navbar{z-index:998;padding:12px 0}
.navbar>.container,.navbar>.fluid{display:flex;flex-wrap:wrap;gap:36px;min-width:0}
.navbar-logo{margin:auto 0}
.navbar-logo a{display:flex}
.navbar-logo a>b{font-size:18px}
.navbar nav{margin:auto 0}
.navbar nav ul{display:flex;flex-wrap:wrap;gap:36px}
.navbar nav ul li{display:flex;margin:auto 0}
.navbar nav ul li.divider{height:24px;border-left:1px solid var(--g3x)}
.navbar nav ul li a:not(.btn){display:flex;gap:12px;position:relative;height:48px;border-radius:8px}
.navbar nav ul li a,.navbar nav ul li a>*{margin:auto 0}
.navbar nav ul li a>span+.caret{margin-left:-4px}
.navbar nav ul li.new a::after{box-shadow:0 0 0 2px var(--bg);content:'new';display:block;top:0;right:0;margin:auto;margin-top:8px;margin-left:-6px;padding:0 6px 1px;background-color:var(--danger);border-radius:24px;font-size:10px;font-family:var(--font-2);line-height:16px;color:var(--bg)}
.navbar nav.right{margin-left:auto}
.navbar nav.center{position:absolute;left:50%;transform:translateX(-50%)}
/* NAVTABS */
.navtabs{display:flex;flex-wrap:wrap;gap:12px;min-width:0}
.navtabs a[active=true]{font-variation-settings:'FILL'1;color:var(--primary)}
.navtabs.underline{gap:24px;border-bottom:1px solid var(--g3x)}
.navtabs.underline a{display:flex;gap:12px;position:relative;margin-bottom:-1px;padding-bottom:16px;border-bottom:1px solid var(--primary);color:var(--txt);text-decoration:unset!important}
.navtabs.underline a:hover,.navtabs.underline a[active=true]{color:var(--primary)}
.navtabs.underline a>*{margin:auto 0}
.navtabs.underline a:nth-child(n+2)::before{content:' ';display:block;position:absolute;bottom:-1px;left:-36px;width:48px;border-bottom:1px solid var(--primary)}
.navtabs.underline a[active=true]::after{content:' ';display:block;position:absolute;bottom:-2px;left:0;right:0;height:3px;background-color:var(--primary);border-radius:24px}
.navtabs.underline.j-fluid a{border-color:transparent}
.navtabs.underline.j-fluid a span{margin-left:auto}
.navtabs.underline.j-fluid a span:not([class]){margin-right:auto;margin-left:unset}
.navtabs-content>*,.navtabs.underline.j-fluid a::before{display:none}
.navtabs-content>*[active=true]{display:block!important}
/* COLLAPSE */
.collapse{position:relative;overflow:hidden;max-height:0;transition:max-height .25s var(--cubic)}
[accordion=toggle]{max-height:unset;transition:.15s ease}
[accordion=content]{position:relative;opacity:0;overflow:hidden;max-height:0;transition:max-height .25s var(--cubic),opacity 0.25s ease}
[accordion=content].expand{opacity:1;max-height:unset}
/* POPUP */
.popup{backdrop-filter:blur(3px);display:flex;position:fixed;z-index:99999;top:0;bottom:0;left:0;right:0;visibility:hidden;opacity:0;padding:12px;transition:.15s var(--cubic);background-color:var(--backdrop2)}
.popup.open,.popup.open-fixed{visibility:visible;opacity:1}
.popup.open-fixed [pop-action=close-overlay]{pointer-events:none}
.popup [pop-action=close-overlay]{position:fixed;z-index:0;top:0;bottom:0;left:0;right:0}
.popup-container{box-shadow:0 2px 8px -2px rgba(0 0 0 / .1);display:flex;flex-direction:column;position:relative;z-index:1;top:-24px;overflow:hidden;min-width:0;max-width:560px;max-height:100%;margin:auto;transition:.15s var(--cubic);background-color:var(--bg);border-radius:16px}
.popup-container.h-100{height:100%}
.popup-container .popup-header{display:flex;gap:24px;padding:20px 24px;border-bottom:1px solid var(--g2x)}
.popup-container .popup-header.borderless{padding-bottom:0;border-bottom-width:0}
.popup-container .popup-header>*{margin:auto 0}
.popup-container .popup-header [pop-action=close]{margin-left:auto}
.popup-container .popup-header p{margin-top:6px;font-size:14px;color:var(--g4x)}
.popup-container .popup-content{overflow-y:auto;padding:20px 24px}
.popup-container .popup-footer{margin-top:auto;padding:24px;border-top:1px solid var(--g2x)}
.popup-container .popup-footer.borderless{padding-top:0;border-top-width:0}
.popup.left .popup-container{top:0;left:24px;right:unset;height:100%;margin-left:0}
.popup.right .popup-container{top:0;left:unset;right:24px;height:100%;margin-right:0;margin-left:auto}
.popup.open .popup-container,.popup.open-fixed .popup-container{top:0}
.popup.left.open .popup-container,.popup.left.open-fixed .popup-container{left:0}
.popup.right.open .popup-container,.popup.right.open-fixed .popup-container{left:unset;right:0}
.popup.confirm .popup-container{max-width:380px;font-size:14px}
.popup.confirm .popup-content{display:flex;flex-wrap:wrap;gap:24px;min-width:0;padding:24px}
.popup.confirm .popup-content>*{margin:auto 0}
.popup.confirm .popup-content>*:not(div){font-size:48px}
.popup.confirm .popup-content>div{flex:1}
.popup.confirm .popup-content h5{font-size:16px}
.popup.confirm .popup-content p{margin-top:4px;font-size:14px;color:var(--g4x)}
/* TOOLTIP */
.tooltip-text{box-shadow:var(--shadow);backdrop-filter:blur(3px);pointer-events:none;display:block;position:absolute;z-index:9999;visibility:hidden;opacity:0;width:max-content;max-width:240px;padding:8px 12px;transition:.15s ease;background-color:var(--backdrop);border-radius:8px;font-size:12px;font-weight:var(--font-regular);line-height:1.4;color:var(--white);text-align:center;word-wrap:break-word}
.tooltip-text.show{visibility:visible;opacity:1}
.tooltip-text:empty{visibility:hidden;opacity:0}
[tooltip]{overflow:unset}
[tooltip-position="top"] .tooltip-text{bottom:100%;left:50%;transform:translateX(-50%);margin:0 0 8px 0}
[tooltip-position="right"] .tooltip-text{top:50%;left:100%;transform:translateY(-50%);margin:0 0 0 8px}
[tooltip-position="bottom"] .tooltip-text{top:100%;left:50%;transform:translateX(-50%);margin:8px 0 0 0}
[tooltip-position="left"] .tooltip-text{top:50%;bottom:unset;left:unset;right:100%;transform:translateY(-50%);margin:0 8px 0 0}
[tooltip-position="top-right"] .tooltip-text{bottom:100%;left:100%;transform:translateX(-100%);margin:0 0 8px 0}
[tooltip-position="top-left"] .tooltip-text{bottom:100%;left:0;margin:0 0 8px 0}
[tooltip-position="bottom-right"] .tooltip-text{top:100%;left:100%;transform:translateX(-100%);margin:8px 0 0 0}
[tooltip-position="bottom-left"] .tooltip-text{top:100%;left:0;margin:8px 0 0 0}
[tooltip-position="left-top"] .tooltip-text{top:0;bottom:unset;left:unset;right:100%;margin:0 8px 0 0}
[tooltip-position="left-bottom"] .tooltip-text{top:unset;bottom:0;left:unset;right:100%;margin:0 8px 0 0}
[tooltip-position="right-top"] .tooltip-text{top:0;left:100%;margin:0 0 0 8px}
[tooltip-position="right-bottom"] .tooltip-text{top:unset;bottom:0;left:100%;margin:0 0 0 8px}
/* COPY */
.copyBtn{overflow:unset}
.copyIcon{position:relative}
.copyIcon::after{font-variation-settings:'FILL'1;content:'\e173';position:absolute;top:3px;right:-20px;font-size:14px;font-family:var(--font-msr);font-weight:var(--font-regular)}
.copyIcon.hover::after{opacity:0;transition:.15s ease}
.copyIcon.hover:hover:after{opacity:1}
.copyGroup input{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.copy-notif{box-shadow:var(--shadow-2);backdrop-filter:blur(3px);pointer-events:none;display:flex;gap:12px;position:fixed;z-index:1000;bottom:-100px;left:24px;opacity:0;padding:16px 20px;transition:all 0.25s var(--cubic);background-color:var(--dark);border-radius:12px;color:#fff}
.copy-notif>*{margin:auto 0}
.copy-notif.show{bottom:24px;opacity:1}
.dropdown{position:relative}
/* DROPDOWN */
[dropdown=content]{box-shadow:var(--shadow);position:absolute;z-index:98;top:100%;visibility:hidden;opacity:0;min-width:280px;margin-top:calc(8px + 24px);padding:16px;transition:.2s var(--cubic);background-color:var(--bg)!important;border:2px solid var(--primary);border-radius:12px;font-size:14px;color:var(--txt)!important}
[dropdown=content].open{visibility:visible;opacity:1;margin-top:8px}
[dropdown=content] nav{display:flex;flex-direction:column;flex-wrap:wrap}
[dropdown=content] nav hr{margin:16px 0}
[dropdown=content] nav .btn{display:flex;gap:12px;overflow:unset;height:40px;padding:0 12px;border-radius:6px;color:var(--txt)!important}
[dropdown=content] nav .btn-img{height:auto;padding-top:9px;padding-bottom:9px}
[dropdown=content] nav .btn::before{display:none!important}
[dropdown=content] nav .btn:hover{background-color:var(--primary2);color:var(--primary)!important}
[dropdown=content] nav .btn::after{pointer-events:none;content:' ';display:block;position:absolute;top:50%;left:calc(-16px);opacity:0;transform:translateY(-50%);width:2px;height:24px;transition:.15s ease;background-color:var(--primary);border-radius:0 6px 6px 0}
[dropdown=content] nav .btn.active{font-variation-settings:'FILL'1;font-weight:var(--font-semibold);color:var(--primary)!important}
[dropdown=content] nav .btn.active:not(:hover){background-color:transparent!important}
[dropdown=content] nav .btn.active::after,[dropdown=content] nav .btn:hover::after{opacity:1}
[dropdown=content] nav .btn.title{pointer-events:none;font-weight:var(--font-semibold)}
[dropdown=content] nav .btn b{margin-bottom:2px}
[dropdown=content] nav .btn small+b{margin-top:2px}
[dropdown=content] li{display:block!important}
.dropdown-success [dropdown=content] nav .btn:hover,.dropdown-success [dropdown=content] nav .btn.active{background-color:var(--success2);color:var(--success)!important}
.dropdown-info [dropdown=content] nav .btn:hover,.dropdown-info [dropdown=content] nav .btn.active{background-color:var(--info2);color:var(--info)!important}
.dropdown-warning [dropdown=content] nav .btn:hover,.dropdown-warning [dropdown=content] nav .btn.active{background-color:var(--warning2);color:var(--warning)!important}
.dropdown-danger [dropdown=content] nav .btn:hover,.dropdown-danger [dropdown=content] nav .btn.active{background-color:var(--danger2);color:var(--danger)!important}
.dropdown-pink [dropdown=content] nav .btn:hover,.dropdown-pink [dropdown=content] nav .btn.active{background-color:var(--pink2);color:var(--pink)!important}
.dropdown-purple [dropdown=content] nav .btn:hover,.dropdown-purple [dropdown=content] nav .btn.active{background-color:var(--purple2);color:var(--purple)!important}
.dropdown-brown [dropdown=content] nav .btn:hover,.dropdown-brown [dropdown=content] nav .btn.active{background-color:var(--brown2);color:var(--brown)!important}
.dropup [dropdown=content]{top:unset;bottom:100%;margin-top:0;margin-bottom:calc(8px + 24px)}
.dropup [dropdown=content].open{margin-bottom:8px}
.dropup .caret::before{content:'\e316'}
.dropdown-right [dropdown=content]{right:0}
.dropdown-center [dropdown=content]{left:50%;transform:translateX(-50%)}
.dropdown-fluid [dropdown=content]{left:0;right:0;min-width:unset}
/* BREADCRUMB */
.breadcrumb{display:flex;flex-wrap:wrap;gap:4px;line-height:1;list-style:none}
.breadcrumb>li{flex-shrink:1;position:relative;overflow:hidden;max-width:240px;margin:auto 0;text-overflow:ellipsis;white-space:nowrap}
.breadcrumb>li .material-symbol{font-variation-settings:'FILL'1;display:flex}
.breadcrumb>li.active{font-weight:var(--font-semibold)}
.breadcrumb>li:nth-child(n+2){padding-left:24px}
.breadcrumb>li+li:before{content:'\e5cc';position:absolute;top:50%;left:0;transform:translateY(-50%);font-size:20px;font-family:var(--font-msr);font-weight:var(--font-regular);line-height:1;color:var(--g4x)}
/* FORMATTING */
.formatting{overflow-wrap:anywhere;line-height:2;text-align:justify;word-break:normal}
.formatting a{color:var(--primary)}
.formatting a:hover{text-decoration:underline}
.formatting p{margin:16px 0}
.formatting p:empty::before{display:none}
.formatting hr{margin:24px 0;border-top-width:1px}
.formatting br{content:' ';display:block;margin-top:8px}
.formatting h1,.formatting h2,.formatting h3{padding-top:4px}
.formatting img{box-shadow:var(--img-shadow);display:block;height:auto;margin:24px 0;border-radius:8px}
.formatting figure{margin:24px 0}
.formatting figure img{border-radius:12px}
.formatting p img{margin:0;border-radius:0}
.formatting p img:not(:last-child){margin-bottom:12px}
.formatting table{margin:16px 0}
.formatting ul>li{position:relative;padding-left:28px}
.formatting ul>li::before{font-variation-settings:'FILL'1;content:'\ef4a';position:absolute;top:12px;left:4px;font-size:8px;font-family:var(--font-msr);line-height:1;color:var(--g3x)}
.formatting ul.icon>li{padding-left:36px}
.formatting ul.icon>li::before{display:none}
.formatting ul.icon>li span{position:absolute;left:0;width:24px;text-align:center}
.formatting ul.icon>li .material-symbol{font-variation-settings:'FILL'1;top:2px}
.formatting ul.icon>li .fab{top:5px;font-size:20px}
.formatting ol>li{position:relative;padding-left:28px;counter-increment:num}
.formatting ol>li::before{content:counter(num)'.';position:absolute;left:0;font-weight:var(--font-regular)}
.formatting ol>li ol>li{padding-left:36px;counter-increment:subnum}
.formatting ol>li ol>li::before{content:counter(num)'.'counter(subnum)'.'}
.formatting ol>li ol>li ol>li{padding-left:48px;counter-increment:subsubnum}
.formatting ol>li ol>li ol>li::before{content:counter(num)'.'counter(subnum)'.'counter(subsubnum)'.'}
.formatting ul,.formatting ol{margin:16px 0;padding-left:24px;list-style:none}
.formatting ul:first-child,.formatting ol:first-child,.formatting table:first-child,.formatting p:first-child,.formatting h1:first-child,.formatting h2:first-child,.formatting h3:first-child{margin-top:0!important;padding-top:0!important}
.formatting ul:last-child,.formatting ol:last-child,.formatting table:last-child,.formatting p:last-child,.formatting h1:last-child,.formatting h2:last-child,.formatting h3:last-child{margin-bottom:0!important;padding-bottom:0!important}
.formatting ul ul,.formatting ul ol,.formatting ol ol,.formatting ol ul{margin-top:4px;margin-bottom:0;padding-left:0}
.formatting li:nth-of-type(n+2){margin-top:4px}
/* TEXT */
.font-1{font-family:var(--font)}
.font-2{font-family:var(--font-2)}
.font-3{font-family:var(--font-3)}
.text-primary{color:var(--primary)!important}
.text-info{color:var(--info)!important}
.text-success{color:var(--success)!important}
.text-warning{color:var(--warning)!important}
.text-danger{color:var(--danger)!important}
.text-pink{color:var(--pink)!important}
.text-purple{color:var(--purple)!important}
.text-brown{color:var(--brown)!important}
.text-primary-h:hover{color:var(--primary-dark)!important}
.text-info-h:hover{color:var(--info-dark)!important}
.text-success-h:hover{color:var(--success-dark)!important}
.text-warning-h:hover{color:var(--warning-dark)!important}
.text-danger-h:hover{color:var(--danger-dark)!important}
.text-pink-h:hover{color:var(--danger-dark)!important}
.text-purple-h:hover{color:var(--danger-dark)!important}
.text-brown-h:hover{color:var(--danger-dark)!important}
.text-g3x{color:var(--g3x)!important}
.text-g4x{color:var(--g4x)!important}
.text-g5x{color:var(--g5x)!important}
.text-white{color:var(--bg)!important}
.text-0{font-size:0!important}
.text-12{font-size:12px!important}
.text-14{font-size:14px!important}
.text-16{font-size:16px!important}
.text-18{font-size:18px!important}
.text-20{font-size:20px!important}
.text-24{font-size:24px!important}
.text-28{font-size:28px!important}
.text-32{font-size:32px!important}
.text-36{font-size:36px!important}
.text-left{text-align:left!important}
.text-center{text-align:center!important}
.text-right{text-align:right!important}
.text-justify{text-align:justify!important}
.text-lowercase{text-transform:lowercase!important}
.text-uppercase{text-transform:uppercase!important}
.text-capitalize{text-transform:capitalize!important}
.text-hl:hover{text-decoration:underline!important}
.text-break{word-break:break-all}
.text-lh-1{line-height:1!important}