/*!
 * Name : Magia
 * Author : Nanranikano
*/

@import url('sns.css');
@import url('wmpg.css');
@import url('../lib/fab/fa-brands.css');

*{margin:0;padding:0}
*,*::before,*::after{-webkit-box-sizing:inherit;box-sizing:inherit}
*:focus{outline:none}
html{-webkit-box-sizing:border-box;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-ms-overflow-style:scrollbar;-webkit-tap-highlight-color:transparent;overflow-x:hidden;box-sizing:border-box;background-color:var(--bg)}
body{text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;display:flex;flex-direction:column;overflow:hidden;min-width:0;min-height:100vh;margin:0 auto;padding:0!important;background-color:transparent;cursor:default;font-size:var(--font-size);font-family:var(--font)!important;color:var(--txt);text-transform:none}
body:has(.navbar-fix){padding-top:96px!important}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;appearance:none;margin:0}
input[type=number]{-moz-appearance:textfield;appearance:textfield}
article,aside,figcaption,figure,footer,header,hgroup,main,nav,section{display:block}
article,aside,footer,header,nav,section{display:block}
figcaption,figure,main{display:block}
hr{-webkit-box-sizing:content-box;overflow:visible;box-sizing:content-box;height:0;margin:24px 0;border:0;border-top:1px solid var(--g3x);width:100%}
hr.dash{border-style:dashed;border-color:var(--g3x)}
pre{font-size:var(--font-size);font-family:var(--font-2)}
abbr,abbr[title]{margin-left:4px;color:var(--danger);text-decoration:none}
b,strong{font-weight:var(--font-semibold)}
code,kbd,samp{padding:0 6px 2px;background-color:var(--g1x);font-size:var(--font-size);font-family:var(--font-2);color:var(--danger)}
dfn{font-style:italic}
mark{background-color:#ff0;color:#000}
small{font-size:80%}
sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline}
sub{bottom:-.25em}
sup{top:-.5em}
audio,video,canvas{display:block}
audio:not([controls]){display:none;height:0}
img{max-width:100%;border-style:none;vertical-align:middle}
svg:not(:root){overflow:hidden}
button,input,optgroup,select,textarea{outline:none!important;margin:0;font-size:14px;font-family:var(--font)}
button{cursor:pointer}
button,input{overflow:visible}
label{font-weight:var(--font-regular)}
button,select{-moz-appearance:none;-webkit-appearance:none;appearance:none;text-transform:none}
button,html [type='button'],[type='reset'],[type='submit']{-webkit-appearance:button;appearance:button}
button::-moz-focus-inner,[type='button']::-moz-focus-inner,[type='reset']::-moz-focus-inner,[type='submit']::-moz-focus-inner{padding:0;border-style:none}
button:-moz-focusring,[type='button']:-moz-focusring,[type='reset']:-moz-focusring,[type='submit']:-moz-focusring{outline:none!important}
fieldset{padding:.35em .75em .625em}
legend{display:table;box-sizing:border-box;max-width:100%;padding:0;color:inherit;white-space:normal}
progress{display:inline-block;vertical-align:baseline}
textarea{overflow:auto}
[type='checkbox'],[type='radio']{box-sizing:border-box;padding:0}
input[type='number']{-moz-appearance:textfield;appearance:textfield}
[type='number']::-webkit-inner-spin-button,[type='number']::-webkit-outer-spin-button{-webkit-appearance:none;appearance:none;height:auto;margin:0}
[type='search']{outline-offset:-2px;-webkit-appearance:textfield;appearance:textfield}
[type='search']::-webkit-search-cancel-button,[type='search']::-webkit-search-decoration{-webkit-appearance:none;appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;appearance:button;font:inherit}
details,menu{display:block}
summary{display:list-item}
template,[hidden]{display:none}
blockquote{position:relative;margin:36px 0;padding:24px 32px;background-color:var(--dark1);border:1px solid var(--g3x);border-radius:12px;font-size:28px;font-family:var(--font-3);line-height:1.4;color:var(--dark)}
blockquote::after{content:' ';display:block;position:absolute;top:50%;left:-3px;transform:translateY(-50%);width:5px;height:24px;background-color:var(--primary);border-radius:3px}
blockquote::before{font-variation-settings:'FILL'1;content:'\e244';position:absolute;z-index:-1;bottom:12px;right:-12px;opacity:.05;font-size:7em;font-family:var(--font-msr);line-height:.5}
blockquote footer{position:relative;padding-left:24px}
blockquote footer::before{content:'~';position:absolute;top:50%;left:0;transform:translateY(-50%);font-weight:var(--font-bold)}
blockquote cite{font-weight:var(--font-semibold)}
button{display:inline-block;background-color:transparent;border:0}
table{border-spacing:0;border-collapse:collapse;background-color:transparent}
td,th{padding:0}
table col[class*='col-']{display:table-column;position:static;float:none}
table td[class*='col-'],table th[class*='col-']{display:table-cell;position:static;float:none}
caption{padding:8px 0;color:var(--g5x);text-align:left}
dt{font-weight:var(--font-semibold)}
dd{margin-left:0}
p{display:block;margin:0;padding:0}
ol,ul,dl,ol ol,ul ul,ol ul,ul ol{margin:0;padding:0;list-style:none}
h1,h2,h3,h4,h5,h6{position:relative;margin:0;padding:0;font-family:inherit;font-weight:var(--font-semibold);line-height:1.4}
h1{font-size:32px}
h2{font-size:28px}
h3{font-size:24px}
h4{font-size:20px}
h5{font-size:18px}
h6{font-size:16px;line-height:1.6}
a,a:focus,a:hover{transition:.15s ease;color:var(--txt);text-decoration:none}
a:hover{color:var(--primary)}
a:not([href]):not([tabindex]){transition:.15s ease;cursor:pointer;color:inherit}
a:not([href]):not([tabindex]):focus,a:not([href]):not([tabindex]):hover{transition:.15s ease;color:inherit}
a:not([href]):not([tabindex]):focus{outline:0;transition:.15s ease}
a:not([href]):not([tabindex]):hover{color:var(--primary)}
form,img,*:not([disabled]):not([readonly])::placeholder,button,textarea,select,label,br,thead,tfoot,.material-symbol,.btn,.help-block,.navbar{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
/* MATERIAL SYMBOLS */
.material-symbol{direction:ltr;font-feature-settings:'liga';-webkit-font-smoothing:antialiased;display:inline-block;font-size:24px;font-family:var(--font-msr);font-style:normal;font-weight:var(--font-regular)!important;line-height:1!important;text-decoration:none!important;text-transform:none;letter-spacing:normal;word-wrap:normal;white-space:nowrap}
.material-symbol.fill{font-variation-settings:'FILL'1!important}
.material-symbol.new{position:relative}
.material-symbol.new::after{box-shadow:0 0 0 2px var(--bg);content:' ';display:block;position:absolute;top:0;right:0;width:8px;height:8px;background-color:var(--danger);border-radius:50%}
/* UTILITIES */
.fab{font-size:24px}
.event-none{pointer-events:none}
.grid{display:grid}
.grid-2{display:grid;grid-template-columns:repeat(2,1fr)}
.grid-3{display:grid;grid-template-columns:repeat(3,1fr)}
.grid-4{display:grid;grid-template-columns:repeat(4,1fr)}
.grid-5{display:grid;grid-template-columns:repeat(5,1fr)}
.grid-6{display:grid;grid-template-columns:repeat(6,1fr)}
.flex{display:flex;flex-wrap:wrap;min-width:0}
.flex>.form-group,.flex-v>.form-group{margin:0!important}
.flex-v{display:flex;flex-direction:column;flex-wrap:wrap;min-width:0}
.flex-v>hr{margin:0}
.flex-0{flex:unset!important}
.flex-1{flex:1!important}
.j-center{justify-content:center}
.j-left{justify-content:left}
.j-right{justify-content:right}
.j-fluid>*{flex:1!important;max-width:unset!important}
.v-middle>*{margin:auto 0}
.caret{display:flex;margin:auto 0;margin-right:-4px;margin-left:-4px;font-size:24px;font-family:var(--font-msr);line-height:1!important}
.caret::before{content:'\e313';margin-right:-4px;margin-left:-4px}
.container{position:relative;max-width:1000px;margin:0 auto}
.ovf-hd{overflow:hidden!important}
/* FORMATTING */
.formatting{line-height:2;text-align:justify}
.formatting a{color:var(--primary)}
.formatting a:hover{text-decoration:underline}
.formatting p{margin:16px 0}
.formatting p:empty::before{display:none}
.formatting hr{margin:24px 0;border-top-width:1px}
.formatting br{content:' ';display:block;margin-top:8px}
.formatting h1,.formatting h2,.formatting h3{padding-top:4px}
.formatting img{box-shadow:var(--img-shadow);border-radius:8px;margin:24px 0;display:block;height:auto}
.formatting figure{margin:24px 0}
.formatting figure img{border-radius:12px}
.formatting p img{margin:0;border-radius:0}
.formatting p img:not(:last-child){margin-bottom:12px}
.formatting table{margin:16px 0}
.formatting ul>li{position:relative;padding-left:28px}
.formatting ul>li::before{font-variation-settings:'FILL'1;content:'\ef4a';position:absolute;top:12px;left:4px;font-size:8px;font-family:var(--font-msr);line-height:1;color:var(--g3x)}
.formatting ul.icon>li{padding-left:36px}
.formatting ul.icon>li::before{display:none}
.formatting ul.icon>li span{position:absolute;left:0;width:24px;text-align:center}
.formatting ul.icon>li .material-symbol{top:2px;font-variation-settings:'FILL'1}
.formatting ul.icon>li .fab{top:5px;font-size:20px}
.formatting ol>li{position:relative;padding-left:28px;counter-increment:num}
.formatting ol>li::before{content:counter(num)'.';position:absolute;left:0;font-weight:var(--font-regular)}
.formatting ol>li ol>li{padding-left:36px;counter-increment:subnum}
.formatting ol>li ol>li::before{content:counter(num)'.'counter(subnum)'.'}
.formatting ol>li ol>li ol>li{padding-left:48px;counter-increment:subsubnum}
.formatting ol>li ol>li ol>li::before{content:counter(num)'.'counter(subnum)'.'counter(subsubnum)'.'}
.formatting ul,.formatting ol{margin:16px 0;padding-left:24px;list-style:none}
.formatting ul:first-child,.formatting ol:first-child,.formatting table:first-child,.formatting p:first-child,.formatting h1:first-child,.formatting h2:first-child,.formatting h3:first-child{margin-top:0!important;padding-top:0!important}
.formatting ul:last-child,.formatting ol:last-child,.formatting table:last-child,.formatting p:last-child,.formatting h1:last-child,.formatting h2:last-child,.formatting h3:last-child{margin-bottom:0!important;padding-bottom:0!important}
.formatting ul ul,.formatting ul ol,.formatting ol ol,.formatting ol ul{margin-top:4px;margin-bottom:0;padding-left:0}
.formatting li:nth-of-type(n+2){margin-top:4px}
/* ALERT */
.alert{display:flex;flex-wrap:wrap;gap:24px;position:relative;padding:24px;padding-right:36px;background-color:transparent!important;border:1px solid var(--warning);border-radius:12px;line-height:1.6}
.alert>*:not(.material-symbol){flex:1;margin:auto 0}
.alert.icon::before{display:none!important}
.alert.icon .material-symbol{margin:auto 0}
.alert .formatting ul,.alert .formatting ol,.alert .formatting p{margin:16px 0}
.alert .formatting ul,.alert .formatting ol{padding-left:12px}
.alert:not(:first-child):not(:first-of-type){margin-top:24px}
.alert::after{content:' ';display:block;position:absolute;top:50%;left:-3px;transform:translateY(-50%);width:5px;height:24px;background-color:var(--warning);border-radius:8px}
.alert-info,.alert-info::after{background-color:var(--info);border-color:var(--info)}
.alert-danger,.alert-danger::after{background-color:var(--danger);border-color:var(--danger)}
.alert-success,.alert-success::after{background-color:var(--success);border-color:var(--success)}
.alert-primary,.alert-primary::after{background-color:var(--primary);border-color:var(--primary)}
.alert-default,.alert-default::after{background-color:var(--g4x);border-color:var(--g4x)}
.alert::before{font-variation-settings:'FILL'1;content:'\e002';display:flex;position:relative;width:24px;margin:auto 0;font-size:24px;font-family:var(--font-msr);line-height:1;color:var(--warning);text-align:center}
.alert-danger::before{content:'\e82a';color:var(--danger)}
.alert-info::before{content:'\e88e';color:var(--info)}
.alert-success::before{content:'\e19f';color:var(--success)}
.alert-primary::before{content:'\ef49';color:var(--primary)}
.alert-default::before{content:'\ef49';color:var(--txt)}
/* TABLE */
.table{overflow:unset;width:100%;max-width:100%;border:0;line-height:1.6}
.table .formatting{line-height:1.6}
.table th,.table td{position:relative;padding:12px 16px;border:1px solid var(--g3x);text-align:left;vertical-align:middle}
.table th:first-child,.table td:first-child{padding-left:0;border-left-width:0}
.table th:last-child,.table td:last-child{padding-right:0;border-right-width:0}
.table thead th,.table thead td{padding-top:16px;padding-bottom:16px}
.table thead tr:first-child th,.table thead tr:first-child td{border-top-width:0}
.table thead{border-bottom:2px solid var(--g3x)}
.table tbody tr:first-child td{border-top-width:0}
.table tbody tr:last-child td{border-bottom-width:0}
.table tfoot th,.table tfoot td{padding-top:16px;padding-bottom:16px}
.table tfoot tr:last-child th,.table tfoot tr:last-child td{border-bottom-width:0}
.table tfoot{border-top:2px solid var(--g3x)}
.table-responsive{overflow-x:auto}
.table-odd th,.table-odd td{padding-right:16px!important;padding-left:16px!important;border-width:0}
.table-odd thead,.table-odd tfoot{border-width:0}
.table-odd thead tr:first-child th,.table-odd thead tr:first-child td{padding-top:0}
.table-odd tfoot tr:last-child th,.table-odd tfoot tr:last-child td{padding-bottom:0}
.table-odd tbody tr:nth-child(odd) td{background-color:var(--odd)}
.table-odd tbody tr td:first-child{border-radius:8px 0 0 8px}
.table-odd tbody tr td:last-child{border-radius:0 8px 8px 0}
.table-odd:not(:has(tfoot)) tbody tr:last-child:nth-child(even) td{padding-bottom:0}
.table-odd:has(tfoot) tbody tr:last-child:nth-child(even) td{border-bottom-width:1px}
.table-wrap{overflow:hidden;border:1px solid var(--g3x);border-radius:8px}
.table-wrap.borderless{border-width:0}
.table-wrap.transparent thead,.table-wrap.transparent tfoot{background-color:transparent}
.table-wrap thead,.table-wrap tfoot{background-color:var(--g0x);border-width:0}
.table-wrap thead tr:first-child th,.table-wrap thead tr:first-child td{padding-top:16px}
.table-wrap tfoot tr:last-child th,.table-wrap tfoot tr:last-child td{padding-bottom:16px}
.table-wrap th,.table-wrap td{padding-right:16px!important;padding-left:16px!important}