/*!
 * Magia : Root
*/

:root {
    --font: 'Poppins';
    --font-2: 'Space Mono';
    --font-3: 'Caveat';
    --font-msr: 'Material Symbols Rounded';
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-size: 16px;

    --backdrop: rgba(24 24 27 / .7);
    --backdrop2: rgba(24 24 27 / .8);
    --cubic: cubic-bezier(.58, .01, .04, .98);
    --img-shadow: 0 2px 6px -2px rgba(0 0 0 / .15);
    --shadow: 0 4px 24px -4px rgba(0 0 0 / .1);
    --shadow-1: 0 4px 24px -4px rgba(0 0 0 / .15);
    --shadow-2: 0 3px 8px -4px rgba(0 0 0 / .2);

    --bg: #FFFFFF;
    --txt: #3F3F46;
    --card: #FFFFFF;

    --g0x: #F9FAFB;
    --g1x: #F4F4F5;
    --g2x: #E4E4E7;
    --g3x: #D4D4D8;
    --g4x: #9999A3;
    --g5x: #777781;
    --g6x: #52525B;
    --odd: rgba(24 24 27 / .05);

    --default: #ECEFF1;
    --dark: #3F3F46;
    --white: #FFFFFF;
    --black: #272727;

    --dark1: #3F3F4605;
    --dark2: #3F3F4615;
    --dark3: #3F3F4625;
    --dark4: #3F3F4635;
    --dark5: #3F3F4645;

    --white1: #FFFFFF05;
    --white2: #FFFFFF15;
    --white3: #FFFFFF25;
    --white4: #FFFFFF35;
    --white5: #FFFFFF45;

    /* PRIMARY */
    --primary: #7689ff;
    --primary-dark: #6a77e0;
    --primary-darker: #5a66c5;
    --primary1: #7689ff05;
    --primary2: #7689ff15;
    --primary3: #7689ff25;
    --primary4: #7689ff35;
    --primary5: #7689ff45;

    /* SUCCESS */
    --success: #73c77d;
    --success-dark: #63a663;
    --success-darker: #4f8e4f;
    --success1: #73c77d05;
    --success2: #73c77d15;
    --success3: #73c77d25;
    --success4: #73c77d35;
    --success5: #73c77d45;

    /* INFO */
    --info: #6d99d8;
    --info-dark: #5c88be;
    --info-darker: #4a779e;
    --info1: #6d99d805;
    --info2: #6d99d815;
    --info3: #6d99d825;
    --info4: #6d99d835;
    --info5: #6d99d845;

    /* WARNING */
    --warning: #f19c44;
    --warning-dark: #e6872e;
    --warning-darker: #d67a1a;
    --warning1: #f19c4405;
    --warning2: #f19c4415;
    --warning3: #f19c4425;
    --warning4: #f19c4435;
    --warning5: #f19c4445;

    /* DANGER */
    --danger: #e56b64;
    --danger-dark: #d35d4f;
    --danger-darker: #c14f40;
    --danger1: #e56b6405;
    --danger2: #e56b6415;
    --danger3: #e56b6425;
    --danger4: #e56b6435;
    --danger5: #e56b6445;

    /* PINK */
    --pink: #f16b8e;
    --pink-dark: #d25a7b;
    --pink-darker: #c04f6a;
    --pink1: #f16b8e05;
    --pink2: #f16b8e15;
    --pink3: #f16b8e25;
    --pink4: #f16b8e35;
    --pink5: #f16b8e45;


    /* PURPLE */
    --purple: #9388d2;
    --purple-dark: #7e76b7;
    --purple-darker: #6a65a1;
    --purple1: #9388d205;
    --purple2: #9388d215;
    --purple3: #9388d225;
    --purple4: #9388d235;
    --purple5: #9388d245;

    /* BROWN */
    --brown: #8a6f58;
    --brown-dark: #7d5f47;
    --brown-darker: #6a4f39;
    --brown1: #8a6f5805;
    --brown2: #8a6f5815;
    --brown3: #8a6f5825;
    --brown4: #8a6f5835;
    --brown5: #8a6f5845;
}