/*!
 * Magia : Root
*/

:root {
    --font: 'Poppins';
    --font-2: 'Space Mono';
    --font-3: 'Caveat';
    --font-form: 'Space Mono';
    --font-msr: 'Material Symbols Rounded';
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-size: 16px;

    --backdrop: rgba(24 24 27 / .7);
    --cubic: cubic-bezier(.58, .01, .04, .98);
    --img-shadow: 0 2px 6px -2px rgba(0 0 0 / .1);
    --shadow: 0 4px 24px -4px rgba(0 0 0 / .1);
    --shadow-2: 0 3px 8px -4px rgba(0 0 0 / .15);

    --bg: #FFFFFF;
    --txt: #3F3F46;

    --g0x: #F9FAFB;
    --g1x: #F4F4F5;
    --g2x: #E4E4E7;
    --g3x: #D4D4D8;
    --g4x: #9999A3;
    --g5x: #777781;
    --g6x: #52525B;
    --odd: rgba(24 24 27 / .05);

    --default: #ECEFF1;
    --primary: #448AFF;
    --success: #22C55E;
    --info: #00BCD4;
    --warning: #FB923C;
    --danger: #EF4444;
    --dark: #3F3F46;

    --white: #FFFFFF;
    --black: #272727;

    --default-darker: #9CA3AF;
    --primary-darker: #1565C0;
    --success-darker: #2E7D32;
    --info-darker: #00838F;
    --warning-darker: #FF6F00;
    --danger-darker: #C62828;

    --primary1: #448AFF05;
    --primary2: #448AFF15;
    --primary3: #448AFF25;
    --primary4: #448AFF35;
    --primary5: #448AFF45;

    --success1: #22C55E05;
    --success2: #22C55E15;
    --success3: #22C55E25;
    --success4: #22C55E35;
    --success5: #22C55E45;

    --info1: #00BCD405;
    --info2: #00BCD415;
    --info3: #00BCD425;
    --info4: #00BCD435;
    --info5: #00BCD445;

    --warning1: #FB923C05;
    --warning2: #FB923C15;
    --warning3: #FB923C25;
    --warning4: #FB923C35;
    --warning5: #FB923C45;

    --danger1: #EF444405;
    --danger2: #EF444415;
    --danger3: #EF444425;
    --danger4: #EF444435;
    --danger5: #EF444445;

    --dark1: #3F3F4605;
    --dark2: #3F3F4615;
    --dark3: #3F3F4625;
    --dark4: #3F3F4635;
    --dark5: #3F3F4645;

    --white1: #FFFFFF05;
    --white2: #FFFFFF15;
    --white3: #FFFFFF25;
    --white4: #FFFFFF35;
    --white5: #FFFFFF45;
}