/*!
 * Name: MagiaCSS Layout
 * Author: Horochoco
*/

/* REPLACEMENT WAJIB */
.btn>span:not([class]){padding-bottom:0}
.tooltip-text{border-bottom:0 solid transparent}
.formatting ul li::before{top:9px}
.formatting ul.check li::before{top:0}
.formatting ul.icons li .material-symbol,.formatting ul.icons li .fab{top:0}
.formatting.lh2{line-height:2}
.formatting.lh2 ul li::before{top:12px}
.formatting.lh2 ul.check li::before{top:3px}
.formatting.lh2 ul.icons li .material-symbol,.formatting.lh2 ul.icons li .fab{top:3px}

/* TEMPLATE */
body{padding-left:280px!important}
main{padding-bottom:60px}
.page-title{padding:60px 0 48px}
.container{max-width:1000px}
.side-navbar{position:fixed;top:0;bottom:0;left:0;width:280px;padding:24px;background-color:var(--g0x);border-right:1px solid var(--g2x)}
.side-navbar .list-group-item{display:flex;position:relative;padding:0;background-color:transparent;border:0;border-radius:0}
.side-navbar .list-group-item a{display:flex;padding:7px 12px 8px;border-radius:6px;text-transform:lowercase}
.side-navbar .divider{margin:16px 0;border-top:1px solid var(--g3x)}
.side-navbar .list-group-item a:hover,.side-navbar .list-group-item.active a{background-color:var(--primary25);color:var(--primary-darker)}
.navbar{padding-right:36px;padding-left:36px;border-bottom:1px solid var(--g2x)}
.hdiv{padding:48px 0 36px}
.hdiv+.alert,.hdiv+.form-group,.hdiv+.input-group,.hdiv+.floating-label{margin-top:0!important}
