/*!
 * Name : MagiaCSS Layout
 * Author : Nanranikano
*/

@import url('font.css');
@import url('root.css');

/* REPLACEMENT WAJIB */
.btn>span:not([class]){padding-bottom:1px}
.tooltip-text{border-bottom:1px solid transparent}

/* TEMPLATE */
body{padding-left:280px!important}
main{padding-bottom:60px}
.page-title{padding:60px 0 48px}
.container{max-width:1000px}
.side-navbar{position:fixed;top:0;bottom:0;left:0;width:280px;padding:24px;background-color:var(--g0x);border-right:1px solid var(--g3x)}
.side-navbar .list-group-item{display:flex;position:relative;padding:0;background-color:transparent;border:0;border-radius:0}
.side-navbar .list-group-item a{display:flex;padding:7px 12px 8px;border-radius:8px;text-transform:lowercase}
.side-navbar .divider{margin:16px 0;border-top:1px solid var(--g3x)}
.side-navbar .list-group-item a:hover,.side-navbar .list-group-item.active a{background-color:var(--primary3);color:var(--primary-darker)}
.navbar{padding-right:36px;padding-left:36px;border-bottom:1px solid var(--g3x)}
.hdiv{padding:48px 0 24px}
.hdiv+.alert,.hdiv+.form-group,.hdiv+.input-group,.hdiv+.floating-label{margin-top:0!important}

.container{max-width:720px}